* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

form {
    text-align: center;
    max-width: 600px;
    width: 96%;
    margin: 30px auto;
}

form fieldset {
    padding: 20px 20px;
    border: 1px solid #ccc;
}

form legend {
    text-align: initial;
    font-size: 20px;
    color: rgb(130, 130, 130);

}

form input[type=text], input[type=email] {
    /* box-sizing: border-box; essa função iguala os inputs com o select*/
    box-sizing: border-box;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
    border: 1px solid #ccc;
}

form input[type=text], input[type=email], select, form textarea {
    font-family: tahoma;
    outline: 0;
}

form select {
    /*width: calc(80% + 30px); essa função iguala o tamanho do selec com os inputs*/
    width: 80%;
    padding: 10px 13px;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #ccc;
}

form h2 {
    margin-top: 20px;
    color: rgb(100, 100, 100);
}

.radio-input, .checkbox-input {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

.radio-input span , .checkbox-input span {
    margin-left: 13px;
    font-size: 18px;
    color: rgb(130, 130, 130);

}

form textarea {

    box-sizing: border-box;
    margin-top: 30px;
    width: 80%;
    height: 140px;
    padding: 10px 13px;
    border: 1px solid #ccc;
    resize: none;
}

form input[type=submit] {
    margin-top: 30px;
    border: 0;
    width: 140px;
    height: 40px;
    font-size: 16px;
    border: 2px solid rgb(130, 130, 130);
    color: white;
    background-color: rgb(140, 140, 140);
    cursor: pointer;

}

